:root {
  font-family: 'Roboto', system-ui, Avenir, Helvetica, Arial, sans-serif;
  width: 100%;
}

body {
  margin: 0;
  background: #212121;
}

@media (min-width: 768px) {
  body {
    background: #1a1a1a;
  }
}